/*********************************************************************
** initiated by the thread "button hilite" on CIS
** author:  Wolf Dieter Biburger - 100343,365
** date:    27.04.1995
**
** test.rc - contains the menu and dialog resource
*/
#include <os2.h>
#include "test.h"

/* the menu resource, which is loaded during startup of the dialog
** the ID is choosen of the same value as the dialog, to which
** the menu belongs... look at wpDlg
*/
MENU ID_DLG
BEGIN
    SUBMENU "~File", -1
    BEGIN
          MENUITEM "Menu ~1",           ID_MENU_1,       MIS_TEXT
          MENUITEM "Menu ~2",           ID_MENU_2,       MIS_TEXT
          MENUITEM "Menu ~3",           ID_MENU_3,       MIS_TEXT
          MENUITEM "Menu ~4",           ID_MENU_4,       MIS_TEXT
          MENUITEM "Menu ~5",           ID_MENU_5,       MIS_TEXT
    END
END

DLGTEMPLATE ID_DLG LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG  "TestDlg", ID_DLG, 0, 128, 148, 142,
            FS_NOBYTEALIGN | FS_BORDER | FS_SIZEBORDER |
            WS_VISIBLE | WS_CLIPSIBLINGS | WS_SAVEBITS,
            FCF_TITLEBAR |
                FCF_MENU |
                FCF_SYSMENU |
                FCF_SHELLPOSITION |
                FCF_MINMAX |
                FCF_TASKLIST
    BEGIN
        CONTROL "", ID_LISTBOX, 6, 20, 60, 60, WC_LISTBOX,
                LS_NOADJUSTPOS | WS_GROUP | WS_TABSTOP | WS_VISIBLE

        DEFPUSHBUTTON   "~Ok", DID_OK, 6, 4, 40, 14, WS_TABSTOP | WS_VISIBLE
        PUSHBUTTON      "Cancel", DID_CANCEL, 49, 4, 40, 14, WS_TABSTOP |
                        WS_VISIBLE
    END
END

